@import "_reset.scss";
@import "_commonStyle.scss";

html {
    touch-action: manipulation;

    $dark:#000;
    $darkGray:#37424c;
    $white:#fff;

    $textSize:1rem;

    @mixin textColor ($textSize, $color){
        font-size: $textSize;
        color: $color;
        @if $color == $dark{
            text-align: center;
        }
    }
    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        overflow-x: hidden;
        background: #222;
        h1 {
            @include textColor($textSize, $white)
        }
    }
}
