@import "_reset.scss";
@import "_variable.scss";
@import "_commonStyle.scss";
@import "_flexbox.scss";
@import "_dataAttribute.scss";

html {
    touch-action: manipulation;

    $dark:#000;
    $darkGray:#37424c;
    $white:#fff;

    $textSize:1rem;

    $fontClass:"serif";
    $value:1+$fontClass;


    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        overflow-x: hidden;
        background: #fff;
  
    }

    $fontClass:"serif";
$value:1+$fontClass;
$colorTheme:hsl(20%,100%,50%);
$marginTheme: 2ren + 4ren;


@function setPadding($topBottom, $leftRight){
    $conbine:#{$topBottom*2rem +''+$leftRight*1rem};
    @return $conbine;
  }

  @function setHeight($height){
    @return $height * 0.5; 
  }

  .lobby{
    display: block;
    position: relative;
    width: 960px;
    height: 540px;
    background: url('../img/bg.jpg') no-repeat;
    margin: auto;
    background-size: cover;
  }

  .resume{
    position: absolute;
    width: setHeight(100%);
    height: setHeight(100%);
    top: 0;
    left: 0;
    background: url('../img/user_status_bg.png') no-repeat;
    background-size: 50%;
    .playerPic{
      position: absolute;
      border-radius: 999px;
      width: 10vh;
      height: 10vh;
      border: solid 3px #fff; 
      .playerPic::before{
        content: "";
        width: 100%;
        height: 100%;
      }
    }
  } 

.container{
  background-color: #efefef;
  span{
    @include boxSizing;
    padding: 0.5rem;
    height: 10vh;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #333;
    }
  }
}

@function setHeight($height){
  @return $height * 0.5; 
}

@for $gameMenu from 1 through 3 {
  .gameMenu-#{$gameMenu}{
    background: url(game0#{$gameMenu}.png);
  }
}

.mainMenu{
  position: absolute;

}





}

